
body {
  background-color: #eee;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* HEADER */
header {
  background-color: #333;
  border-bottom: orange 5px solid;
  margin-bottom: 20px;
  padding: 5px;
}

h1 {
  color: #eee;
  font-family: sans-serif;
  font-size: 3em;
  text-align: center;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

h2 {
  font-family: sans-serif;
  font-size: 1.5em;
  padding: 7px;
  text-align: center;
}

section {
  padding: 12px;
}

/* VOTING SECTION */
.voting-section {
  background-color: lightseagreen;
  width: 100%;
}

.voting-group {
  background-color: blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  margin: 8px;
}

.voting-display {
  background-color: greenyellow;
  display: inline-block;
  margin: 8px auto;
  width: 23%;
}

.voting-display button {
  width: 100%;
}

h3 {
  font-family: sans-serif;
  font-weight: bold;
  padding: 4px;
  text-align: center;
}

.product-image {
  background-color: black;
  display: block;
  margin: 0 auto;
  width: 60%;
}

button:hover {
  background-color: yellow;
  cursor: pointer;
  color: red;
}

/* INFO SECTION */
.info-section {
  background-color: lightsalmon;
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
}

.info-area {
  width: 90%;
}

.info-button {
  margin: 5px;
}

#start-button {
  padding: 5px;
  width: 50%;
}

p {
  margin: 12px;
}

/* FOOTER */
footer {
  background-color: #333;
  border-top: orange 5px solid;
  color: #eee;
  margin-top: 20px;
  padding: 5px;
  text-align: center;
}